<nav class="nav-menu flex-column">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="/login">Login</NavLink>
    <NavLink class="nav-link" href="/signup">Sign Up</NavLink>
    <NavLink class="nav-link" href="/dashboard">Dashboard</NavLink>
</nav>